@font-face {
    font-family: 'press_start_2pregular';
    src: url('pressstart2p-webfont.eot');
    src: url('pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('pressstart2p-webfont.woff') format('woff'),
         url('pressstart2p-webfont.ttf') format('truetype'),
         url('pressstart2p-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    margin:0 0;
    padding:0 0;
}
body{
	background-color:#025e3e;
}
#wrapper{
    width:1200px;
    height:660px;
    margin:0px auto;
	background-color:#63c3ab;
	background-image:url(../images/bg.png);
	background-repeat:repeat-x;
}
#board{
    width:1200px;
    height:660px;
    z-index: 2;
    position:absolute;
}
#background{
    width:1200px;
    height:660px;
    z-index: 1;
    position:absolute;
	box-shadow:0 0 20px #023e1e;
}
#rod1{
    height:660px;
    width:42px;
    position: absolute;
    left:0px;
    z-index: 3;
    background-image: url('../images/hook1.png');
    background-position: bottom;
}
#rod2{
    height:660px;
    width:42px;
    position: absolute;
    left:100px;
    z-index: 3;
    background-image: url('../images/hook2.png');
    background-position: bottom;
}
#box{
    width:100px;
    height:100px;
    background-color:red;
    position: relative;
    left:100px;
    top:100px;
    z-index: 3;
}
#player1score{
    width:260px;
    height:85px;
    float:left;
	padding:20px
}
#player2score{
    width:260px;
    height:85px;
    float:right;
	padding:20px;
}
.score_left{
	font-family: 'press_start_2pregular', helvetica, arial, sans-serif;
	color:#63c3ab;
	font-size:32px;
	text-align:left;
}
.score_right{
	font-family: 'press_start_2pregular', helvetica, arial, sans-serif;
	color:#63c3ab;
	font-size:32px;
	text-align:right;
}
#abovewater{
	position:absolute;
	z-index:4;
    width:1160px;
    height:118px;
	padding:20px;
}
.logo{
	background-image:url(../images/logo.png);
	width:215px;
	height:86px;
	left:492px;
	top:20px;
	position:absolute;
}

.fish{
    position:absolute;
}
#time{
    position:absolute;
    top:130px;
	right:617px;
    z-index: 4;
	font-family: 'press_start_2pregular', helvetica, arial, sans-serif;
	color:#fff;
	font-size:24px;
}